@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Heebo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #1c1c1c;
    color: #d5d4d8;
    font-weight: 700;
}

h1 {
    color: #10b981;
}

main {
    height: 300px;
    width: 375px;
    background-color: #1f2937;
    border-radius: 5px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.fund {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid red; */
}

.balance {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* border: 1px solid purple; */
}

button {
    background-color: #273549;
    color: #d5d4d8;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 15px 25px;
    overflow: hidden;
    margin: 10px auto;
    position: relative;
    cursor: pointer;
    display: block;
}

button:hover {
    outline: none;
    background-color: #10b981;
}
